body {
  /* react-painter disables touch on the whole document when it should only be drags originating from the canvas */
  touch-action: initial !important;
}

canvas {
  border: 1px solid #26a69a;
}

.canvas-container {
  padding: 0.5rem 0 20px 0;
  position: relative;
}

.canvas-container > canvas {
  border: 2px solid #26a69a;
  touch-action: none;
}

.background-grid {
  position: absolute;
  z-index: -1;
  width: 280px;
  height: 280px;
}

.command-bar {
  display: flex;
  justify-content: space-evenly;
}

.probabilities {
  display: flex;
  list-style: none;
}

.probabilities > li {
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
}

.card-panel .row {
  margin-bottom: 3px;
}

.transparent {
  opacity: 0;
}

@media (max-width: 767px) {
  h3 {
    font-size: 30px;
  }
}
@media (min-width: 768px) {
  h3 {
    margin-top: 48px;
  }
}
